.total {
    color: rgb(207, 205, 219);
    text-align: center;
    width: 300px;
    margin-top: 20px;
    /* Añadir margen superior para separarlo de los elementos anteriores */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* Centra el contenido dentro del div .total */
    align-items: center;
    /* Centra el contenido verticalmente dentro del div .total */
    font-weight: medium;
}

.empty {
    color: rgb(207, 205, 219);
    text-align: center;
    -webkit-text-stroke: 0.5px black;
}

h1 {
    font-family: "Londrina Solid", sans-serif;
    color: rgb(207, 205, 219);
    text-align: center;
    margin: 2rem 0;
    -webkit-text-stroke: 0.5px black;
}

.cart_container {
    font-family: "Londrina Solid", sans-serif;
    background-color: rgb(48, 50, 36, 0.8);
    border-radius: 10px;
    margin: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* Asegura que los elementos estén en columna */
    align-items: center;
    /* Centra todos los elementos dentro del contenedor */
    justify-content: flex-start;
    /* Los elementos empiezan desde el inicio */
    /* height: 90vh; */
    /* Asegura que el contenedor ocupe toda la altura disponible */
}

.header_cart {
    display: flex;
    justify-content: space-evenly;
    /* Alinea los elementos a los extremos */
    align-items: center;
    width: 100%;
    /* Asegura que ocupe todo el ancho disponible */
}

.cart_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* Asegura que los elementos estén apilados verticalmente */
    align-items: center;
    /* Centra los ítems horizontalmente */
    justify-content: center;
    /* Centra los ítems verticalmente dentro de la lista */
    gap: 16px;
    margin: 0;
    padding: 0;
}

.cart_item {
    background-color: rgb(48, 50, 36);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #303224;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    cursor: pointer;
}

.item_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(207, 205, 219);
}