.total {
    /* background-color: rgb(0, 0, 0, 0.9); */
    color: rgb(207, 205, 219);
    text-align: center;
    width: 300px;
    margin-left: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    a {
        color: rgb(207, 205, 219);
        font-size: x-large;
    }

    font-weight: medium;
}

.empty{
    color: rgb(207, 205, 219);
    text-align: center;
    -webkit-text-stroke: 0.5px black;
}

h2 {
    font-family: "Londrina Solid", sans-serif;
    color: rgb(207, 205, 219);
    text-align: center;
    margin: 2rem 0;
    -webkit-text-stroke: 0.5px black;
}

.cart_container {
    font-family: "Londrina Solid", sans-serif;
    background-color: rgb(48, 50, 36, 0.8);
    /* width: 70%; */
    border-radius: 10px;
    margin: 10px;
}


.cart_list {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px; */
    list-style: none;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #303224;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    /* Aplica el filtro sepia al 100% */
    object-fit: cover;
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
}

.item_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(207, 205, 219);
}

.cart_item {
    background-color: rgb(48, 50, 36);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    /* height: 350px; */
    margin: 10px;
    display: flex;
    justify-content: space-between;
}