---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Piterxus Monster Maker">
  <main>
    <header>
      <h1>PITERXUS MONSTER MAKER</h1>
    </header>
  </main>
</Layout>

<style>
  main {
    /* margin: auto; */
    /* padding: 1rem; */
    /* width: 800px;
    max-width: calc(100% - 2rem); */
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  header {
    text-align: center;
    background-color: #2e2e2e;
    color: #a8a270;
  }
</style>
