---
// Recibe una imagen y el precio
const { imgSrc, price } = Astro.props;
import Icon from "../components/Icon.astro";
import AddToCartForm from "./AddToCartForm";
import type { CartItemDisplayInfo } from "../cartStore";
const item: CartItemDisplayInfo = {
  id: "figurine",
  name: "Figurine",
  imageSrc: "/images/astronaut-figurine.png",
  price: 3000,
};

---

<div class="card_test">
  <img src={imgSrc} alt="" />
  <div class="add_cart">
    <p>{price} €</p>
    <AddToCartForm item={item} client:load>
      <Icon
        Imgsrc="/imgs/skeleton_shopping_add_cart.png"
        alt="Cart"
        tooltipText="Add to cart"
        buttonType=""
        id="cart"
      />
    </AddToCartForm>
  </div>
</div>

<style>
  img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #303224;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    filter: sepia(100%); /* Aplica el filtro sepia al 100% */
    object-fit: cover;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }

  img:hover {
    filter: none; /* Elimina el filtro al hacer hover */
  }

  .card_test {
    background-color: #303224;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    height: 350px;
  }
  .add_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    margin: 0;
  }
</style>
<script>
  
  import { cartItems, isCartOpen } from "../cartStore";
  const cart = document.getElementById("cart");

  if (cart) {
    cart.addEventListener("click", () => {
      alert("Added to cart!");
      console.log(cartItems);
    });
  }
</script>
